<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<!---- Boostrap CSS FILES ---->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/bootstrap-theme.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="css/datatables.min.css"/>
</head>
<body>
</body>
<!---- JS FILES ---->
<script type="text/javascript" language="javascript" src="js/datatables.min.js"></script>
<script type="text/javascript" language="javascript" src="js/datatables.resize.js"></script>
<script type="text/javascript"> 
$(document).ready(function() {
    $('#pcm').DataTable({
    	dom: 'Zlfrtip',
        stripeClasses:[],
    	scrollX: true,
    	language: {
        	"url": "http://cdn.datatables.net/plug-ins/1.10.10/i18n/French.json"
        },
        colReorder: {
        	realtime: true,
        	fixedColumnsLeft: 1
        },
        rowReorder: {
        	selector: 'tr'
        },
        colResize: {
        	tableWidthFixed: false
        },
        fixedHeader: true,
        fixedColumns: true
    });
});
</script>
</html>